{% extends 'base.html.twig' %}
{% block title %}Map{% endblock %}
{% block header %}{% endblock %}
{% block content %}
    <div class="row content">
        <div class="col-md-12">
            {{ form_start(form) }}
            {{ form_row(form.city, {attr:{
                'class': 'form-control'
            }}) }}
            <input class="submit btn btn-primary" type="submit">
            {{ form_end(form) }}
        </div>
        <br/>
        <div class="col-md-12">
            <div id="mapGoogle" class="map"/>
        </div>
    </div>

{% endblock %}
{% block myScripts %}
    <script>
        const latitude = '{{ data.latitude }}'
        const longitude = '{{ data.longitude }}'
        const humidity = ' {{ data.humidity }}'
        let map;

        if (latitude && longitude) {
            document.querySelector('.map').scrollIntoView({
                behavior: 'smooth'
            });

            const content = "Humedity " + '{{ data.city }}' + humidity + '%';
            map = new google.maps.Map(document.getElementById('mapGoogle'), {
                center: {lat: parseFloat(latitude), lng: parseFloat(longitude)},
                zoom: 8
            });
            const marker = new google.maps.Marker({
                position: {lat: parseFloat(latitude), lng: parseFloat(longitude)},
                map,
                title: content,
                visible: true
            });
            const infoWindow = new google.maps.InfoWindow({
                content: content,
            });
            infoWindow.open(map, marker);
        } else {
            map = new google.maps.Map(document.getElementById('mapGoogle'), {
                center: {lat: 37.09024, lng: -95.712891},
                zoom: 5
            });
        }

    </script>
{% endblock %}